.main-footer-p {
    font-size: 12px;
    font-weight: normal;
    text-align: center;
    margin: -6px 15px 50px 15px;
    }
.iconos {color: #1259c3;text-align: center;font-size: 17px;font-weight: bold;}
.main-footer h4 {text-align: center;margin: 10px;}
.copy{
    font-size: 12px;
    font-weight: normal;
    margin: 10px;
}