.logo{
    width: 50%;
    height: auto;
    margin: 20px 0px 18px 10px;
}
.burger-menu{
    margin-top: 24px;
    /* margin: auto; */
    padding-bottom: 17px;
    padding-left: 13px;
}
.burger-menu i{
    color: white;
    padding: 7px 7px 7px 7px;
    background-color: #1259c3;
    margin-left: 142px;
    border-radius: 7px;
}



.principio {
    color : black;
    text-decoration: none;/*le saca el subrayados*/
    list-style: none;/* none le saca los puntos de lista*/
    /* margin: 0px 0px 0px 20px; */
    text-align: center;
}
.principio a {
    color : black;
    text-decoration: none;/*le saca el subrayados*/
    position: absolute;
    top: 77px;
    right: 28px;
}
.list-1{
  display: none;
  list-style: none;
  padding-left: 5px;}
  
 .list-2{
    
    display: none;
    list-style: none;
    padding-left: 5px;
    
}
.list-1 a {color : black;
    text-decoration: none;
    
}
.list-2 a {color : black;
    text-decoration: none;}
.list-5 a{display: none;}
